body{
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333333;
}
h2 {
    font-family: 'Righteous', cursive;

}
ion-icon{
    color: #fff;
    z-index: 1;
}
.absolute{
    position: absolute;
}
.relative{
    position:relative;
}
.main-container{
    width: 100%;
}
.header{
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.main-title{
    font-size: 44px;
    margin: 0 0 0 5vw ;
}
.main-subtitle{
    font-size: 18px;
    margin-left: 5vw;
}

.menu{
    margin: 123px 0 123px 20px;
}
.menu-choise{
    margin: 17px 0 27px 0;
    height: 216px;
    display: flex;
    overflow-x: scroll;
}
.menu-iten{
    height: 216px;
    width: 172px;
    min-width: 172px;
    margin-right: 4vw;
    box-sizing: border-box;
    padding: 18px 14px 13px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.menu-iten-image{
    height: 87px;
    width: 144px;
    margin-bottom: 8px;
    border-radius: 4px;
}
.menu-iten-name{
    font-weight: bold;
    margin-bottom: 4px;
}
.menu-iten-description{
    font-size: 15px;
    color: #A6A6A6;
    margin-bottom: 5px;
}
.menu-iten-selector{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    height: max-content;
}
.menu-iten-price{
    color: #000;
    font-weight: normal;
}
.menu-iten-selector-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0;
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: none;
    transition: 0.2s all linear;
    position: relative;
}
:checked {
    background-color:  #32B72F;
}
.green-border{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}
.bottom{
    height: 92px;
    width: 100%;
    background-color: blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.button-close-order-disabled{
    width: 88%;
    height: 61px;
    border-radius: 50px;
    background-color: #cbcbcb;
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-close-order{
    width: 88%;
    height: 61px;
    border-radius: 50px;
    background-color: #32B72F;
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order-confirm-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-confirm{
    background-color: #50D074;
    width: 377px;
    height: 353px;
    color: #fff;
    border-radius: 9px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 19px 25px;
}
.order-confirm-title{
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 28px 0;
    text-align: center;
}
.hided{
    display: none;
}