body{
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: #333333;
}
h2 {
    font-family: 'Righteous', cursive;

}
.main-container{
    width: 100%;
}
.header{
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}
.main-title{
    font-size: 44px;
    margin: 0 0 0 5vw ;
}
.main-subtitle{
    font-size: 18px;
    margin-left: 5vw;
}

.menu{
    margin: 123px 0 123px 20px;
}
.menu-choise{
    margin: 17px 0 27px 0;
    height: 216px;
    background-color: pink;
    display: flex;
    overflow-x: scroll;
}
.menu-iten{
    height: 216px;
    width: 172px;
    min-width: 172px;
    background-color: red;
    margin-right: 4vw;
}
.bottom{
    height: 92px;
    width: 100%;
    background-color: blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.button-close-order{
    width: 88%;
    height: 61px;
    border-radius: 50px;
    background-color: #cbcbcb;
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}